
/* //////////////// */
/* Smaller Landscape 1350px */
/* /////////////////// */
@media(max-width:54em) {
#section-feature {
  padding: 4rem 4rem;
}
.nav-bar {
 display: flex;
 flex-direction: column;
 align-items: flex-start;
 justify-content: flex-start;
 background-color: #E3E6F3;
 position: fixed;
 top: 0;
 right: 0;
 padding: 8rem 0 0 1rem;
 width: 300px;
 height:100vh;
 transition: 0.3s ease;
}
.nav-bar li {
  margin-bottom: 3rem;
}

.nav.sticky {
  position: absolute;
  background-color: #e3e6f3;
}
.mobile {
  display: flex;
  align-items: center;
}
#close {
  position: absolute;
  top: 3rem;
  left: 3rem;
  font-size: 2.4rem;
  color: #222;
  display: initial;
}
.hero {
    background-position: top 32% right 32%;
    height: 70vh;
    padding: 0 8rem;
    font-size: 1.4rem;
}
.hero h1 {
    font-size: 3.2rem;
}
.hero h2 {
    font-size: 3.8rem;
    width: 67%;
}
.hero p {
   width: 50%;
   line-height: 1.5;
   font-size: 1.4rem;
}
.btn-hero {
    padding: 1.2rem 6rem 1.2rem 6rem;
    cursor: pointer;
    font-size: 1.2rem;
    font-weight: 600;
    transition: 0.2s ease;
}
.features {
    justify-content: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.features .feature-box {
    margin: 1.5rem 1.5rem;
}
.products-primary .pro-conatiner {
    justify-content: center;
}
.products-primary .pro {
  margin: 1.2rem;
}
.banner {
 height: 25vh;
 padding: 2rem
}
.banner .heading-secondry {
  font-size: 2rem;
  color: #fff;
  padding: 1rem 0;
}
.banner-box {
    min-width:100%;
    height: 30vh;
}
.banner-third {
  padding: 0 2rem;
}
.banner-third .banner-box {
  width: 28%;
}

}
 @media (max-width:31em) {

#section-feature {
  padding: 2rem;
 }
.header {
  padding: 1rem 3rem;
  min-width: 34rem;
 }
 .nav {
  padding: 1rem 6rem;
 }
.hero h4 {
    margin: 1.5rem 0  0;
}
.hero h4 {
  font-size: 1.6rem;
  padding-top: 1rem;
}
.hero h2 {
  font-size: 3.6rem;
  line-height: 1.2;
  width: 79%;
}
.hero h1 {
    font-size: 2.8rem;
    line-height: 4.4rem;
}
.hero {
    background-position: 55%;
    padding: 0 2rem;
    min-width: 34rem;
}
.btn-hero {
    padding: 1rem 6rem 1rem 4rem;
    font-size: 1.2rem;
}
.features {
    justify-content: space-between;
}
.features .feature-box {
    max-width: 15rem;
    margin: 0 0 1.5rem 0;
}
.features {
    min-width: 34rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}
.products-primary{
  min-width: 34rem;
}
.products-primary .pro-conatiner {
  width: 100%;
}
.sm-banner {
 min-width: 34rem;
}
.banner {
  height: 30vh;
  min-width: 34rem;
}
.banner .heading-secondry {
  font-size: 1.8rem;
}
.banner-box {
  height: 40vh;
}
.banner-box2 {
  margin-top: 2rem;
}
.banner-third {
padding: 0 2rem;
min-width: 34rem;
}
.banner-third .banner-box {
 width: 100%;
}
.news-letter {
 padding: 4rem 2rem;
 min-width: 34rem;
}
.news-description {
  font-size: 1rem;
  line-height: 1;
}
.form {
 width: 100%;
}
.copyright {
text-align: start;
}

/* Product Cart */
.product-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.singel-pro-image {
    width: 100%;
    margin-right: 0rem;
}
.product-details .single-details {
  width: 100%;

}
}
/* Below 750px  */
@media (max-width: 46em) {
  .product-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.singel-pro-image {
    width: 100%;
    margin-right: 0rem;
}
.product-details .single-details {
  width: 100%;

}
}
/* For Below 400px */
@media (max-width: 25em) {
  .product-details {
    display: flex;
    flex-direction: column;
    margin-left: 6rem;
}
.singel-pro-image {
    width: 25rem;
    margin-right: 0rem;
}
.product-details .single-details {
  width: 100%;
}
.single-details h2 {
    font-size: 2.2rem;
    line-height: 1.5;
}
}
