
#section-feature {
  padding: 4rem 2rem;
}

#section-m1 {
  margin: 4rem 0;
}

/* ////////////// */
/* Section Header */
/* ///////////////// */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #e3e6f3 ;
  /* Because we want header to be sticky later */
  height: 7.8rem;
}

.mobile {
  border: none;
  cursor: pointer;
  display: none;
}
.mobile i {
  color: #1a1a1a;
  font-size: 2.4rem;
  padding-left: 2rem;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 8rem;
  width: 100%;
  z-index: 100;
  padding: 0px 6rem;
  position: relative;
}
#close {
 display: none;
}


.nav.sticky {
  position: fixed;
  background-color: #e3e6f3;
}

.nav-bar {
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav-bar li {
  list-style: none;
  padding: 0 2rem;
  position: relative;
}

.nav-bar li a {
  text-decoration: none;
  font-size: 1.6rem;
  font-weight: 600;
  color: #1a1a1a;
  transition: 0.3s ease-in;
}
.nav-bar li a:hover, 
.nav-bar li a.active{
 color: #088178;
}

.nav-bar li a:hover::after,
.nav-bar li a.active::after{
content: "";
width: 30%;
height: 2px;
position: absolute;
background-color: #088178;
bottom: -4px;
left: 2rem;
}
.nav-logo {
height: 4rem;
}


/* Section Hero */
.hero {
  background-image: url(img/hero4.png);
  background-position: top 25% right 0%;
  background-size: cover;
  width: 100%;
  height: 95vh;
  padding: 0 8rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.hero h4 {
  margin-bottom: 1.5rem;
}
.hero h1 {
  color: #088178;
}
 
.btn-hero { 
 background-image: url(img/button.png);
 background-size: cover;
 padding: 1.4rem 8rem 1.4rem 6.5rem;
 border: 0;
 cursor: pointer;
 background-color: transparent; 
 background-repeat: no-repeat;
 font-size: 1.5rem;
 font-weight: 700;
 transition: 0.2s ease;
}
.btn-hero:hover {
 color: #088176;
}

/* Section Feature */
.features {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.features .feature-box {
 max-width:17rem;
 padding: 2.5rem 1.5rem;
 text-align: center;
 box-shadow: 2rem 2rem 3.4rem rgba(0,0,0,0.03);
 border: 1px solid #cce7d0;
 border-radius: 0.4rem;
 margin: 1.5rem 0;
}

#section-feature .feature-box:hover {
 box-shadow: 1rem 1rem 5.4rem 
 rgba(70, 62, 222, 0.01);
}
#section-feature .feature-box img {
  width: 100%;
  margin-bottom: 1rem;
}
#section-feature .feature-btn{
  display: inline-block;
  padding: 0.9rem 0.8rem 0.6rem 0.8rem;
  line-height: 1;
  border-radius: 0.5rem;
  color: #088178;
  background-color: #fddde4;
  cursor: pointer;
};
#section-feature .feature-btn:hover{
  background-color:#cb8494a4;
}

#section-feature .feature-box:nth-child(2) .feature-btn {
  background-color: #d1e8f2;
}
#section-feature .feature-box:nth-child(3) .feature-btn {
  background-color: #cdebbc;
}
#section-feature .feature-box:nth-child(4) .feature-btn {
  background-color: #cdd4f8;
}
#section-feature .feature-box:nth-child(5) .feature-btn {
  background-color: #f6dbf6;
}
#section-feature .feature-box:nth-child(6) .feature-btn {
  background-color: #fff2e5;
}
/* Hover  */
#section-feature .feature-box:nth-child(6) .feature-btn:hover {
  background-color: #e2bb94bc;
    color: #1a1a1a;
}
#section-feature .feature-box:nth-child(5) .feature-btn:hover {
  background-color: #ed81edc1;
  color: #1a1a1a;
}
#section-feature .feature-box:nth-child(4) .feature-btn:hover {
  background-color: #a6b3f0;
    color: #1a1a1a;
}
#section-feature .feature-box:nth-child(3) .feature-btn:hover {
  background-color: #a0ee73b0;
  color: #1a1a1a;
} 
#section-feature .feature-box:nth-child(2) .feature-btn:hover{
  background-color: #81cbebd7;
  color: #1a1a1a;
}
/* ///////////////////////// */
   /* Products Section */
/* //////////////////////////// */

.products-primary {
  text-align: center;
}
.products-primary .pro-conatiner {
  display: flex;
  justify-content: space-between;
  padding-top: 2rem;
  flex-wrap: wrap;
}

.pro {
  width: 23%;
  min-width: 20rem;
  border: 1px solid #cce7d0;
  padding: 1rem 1.2rem;
  border-radius: 2rem;
  cursor: pointer;
  box-shadow: 2rem 2rem 3rem rgba(0,0,0,0.02);
  position: relative;
  transition: all 0.2s ease;
  margin: 1.5rem 0;

}
.pro img {
  width: 100%;
  border-radius: 2rem;
}
.pro:hover {
  box-shadow: 2rem 2rem 3rem rgba(0,0,0,0.07);
}

.product-description{
  text-align: start;
  padding: 1rem 0;
}

.product-description span {
  font-size: 1.2rem;
  color: #606063;
}
.product-description h5 {
  font-size: 1.4rem;
  color: #1a1a1a;
  padding-top: 0.7rem;
}
.pro .star i {
  font-size: 1.2rem;
  color: rgb(243, 184, 25);
} 
.price-heading {
  font-size: 1.4rem;
  font-weight: 700;
  padding-top: 0.7rem;
  color: #088178;
}
.cart {
  width: 4rem;
  height: 4rem;
  border-radius: 5rem;
  line-height: 4rem;
  background-color: #e8f6ea;
  color: #088178;
  font-weight: 500;
  position: absolute;
  right: 1rem;
  bottom: 2rem;
  border: 1px solid #cce7d0;
  font-size: 1.5rem;
}
/* //////////////////// */
/* Banner */
/* //////////////////// */

.banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(img/banner/b2.jpg);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 40vh;
}
.sub-heading {
  color: #fff;
  font-size: 1.6rem;
}
.heading-secondry {
  font-size: 3rem;
  color: #fff;
  padding: 1rem 0;
}
.heading-secondry span {
  color: #ef3636;
}
.banner .normal-btn:hover {
  background-color: #088178;
  color: #fff;
}

/* small banner */
 .sm-banner{
 display: flex; 
 justify-content: space-between;
 flex-wrap: wrap;
}
 .banner-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-image: url(img/banner/b17.jpg);
  background-size: cover;
  background-position: center;
  min-width: 50rem;
  height: 50vh;
  padding: 3rem;
}
.banner-box2 {
  background-image: url(img/banner/b10.jpg);
}

.banner-box h4 {
  color: #fff;
  font-size: 2rem;
  font-weight: 300;
}
.banner-box h2 {
  color: #fff;
  font-size: 2.8rem;
  font-weight: 800;
}
.banner-box span {
  color: #fff;
  font-size: 1.4rem;
  font-weight: 500;
  padding-bottom: 1.5rem;
}
.banner-box:hover button {
  background-color: #088178;
  border: 1px solid #088178;
}
/* Banner Third */
.banner-third {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 4rem;
  /* margin-bottom: 1rem; */
}
.banner-third .banner-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-image: url(img/banner/b7.jpg);
  background-size: cover;
  background-position: center;
  min-width: 30%;
  height: 30vh;
  padding: 2rem;
  margin-bottom: 2rem;
} 
.banner-third .banner-box__2 {
  background-image: url(img/banner/b4.jpg);
}
.banner-third .banner-box__3 {
  background-image: url(img/banner/b18.jpg);
}
.banner-third .banner-box h2 {
  color: #fff;
  font-size: 2.2rem;
  font-weight: 900;
  text-transform: uppercase;
}
.banner-third .banner-box h3 {
  color: #ef544e;
  font-size: 1.4rem;
  font-weight: 800;
  text-transform: uppercase;
}
/* //////////////// */
/* News letter section */
/* ///////////////// */

.news-letter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  background-image: url(img/banner/b14.png);
  background-repeat: no-repeat;
  background-position: 20% 30%;
  background-color: #041e42;
  margin: 4rem 0;
}

.news-heading {
  font-size: 2.2rem;
  color: #fff;
  font-weight: 700;
}
.news-description {
  font-size: 1.4rem;
  color: #818ea0;
  font-weight: 600;
}
.news-description span{
  color: #ffbd27;
  cursor: pointer;
}
.form {
  display: flex;
  justify-content: center;
}
.form input {
  height: 5rem;
  width: 100%;
  padding: 0 1.25em;
  font-size: 1.4rem;
  border: 1px solid transparent;
  border-radius: 0.4rem;
  outline: none;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.form .normal-btn {
  background-color: #088178;
  color: #fff;
  white-space: nowrap;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

/* ////////////// */
/* Footer Section */
/* ///////////// */

footer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
footer .logo {
  margin-bottom: 3rem;
}

footer .footer-columns {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 2rem;
}
footer .footer-heading {
  font-size: 1.4rem;
  padding-bottom: 2rem;
}
footer .footer-description {
  font-size: 1.3rem;
  margin: 0 0 0.8rem 0;
}
footer a {
  font-size: 1rem;
  margin-bottom: 1rem;
  color: #222;
  text-decoration: none;
  line-height: 1.5;
}
.icon-list {
  margin-top: 2rem;
}
footer .icon-list {
  color: #465b52;
  padding-right: 0.4rem;
  cursor: pointer;
}
.icon-list i {
  font-size: 1.6rem;
  padding: 0 0.3rem;
}
.row img {
 border: 1px solid #088178;
 border-radius: 0.6rem;
 margin: 0.5rem 0;
 cursor: pointer;
}
.install {
  margin: 1rem 0 1.5rem 0;
}
.footer-columns a:hover,i:hover {
 color: #150606bd;
} 
.copyright {
  text-align: center;
  /* flex-wrap: wrap; */
  width: 100%;
  text-transform: capitalize;
}

/* Shop page */
.page-header {
  background-image: url(img/banner/b1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 40vh;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  padding: 1.4rem;
}
 .page-header h2,
 .page-header p {
  color: #fff;
 }

 .pagination-container {
  text-align: center;
 }
  .pagination-container a {
    text-decoration: none;
    background-color: #088178;
    color: #fff;
    border-radius: 0.4rem;
    padding: 1.5rem 2rem;
    font-weight:600; 
    font-size: 1.2rem;

  }
  .pagination-container a i{
    font-size: 1.2rem;
    font-weight:600; 
    align-items: center;
  }
  .product-details{
    display: flex;
    margin-top: 2rem;
   
  }
  .singel-pro-image {
    width: 40%;
    margin-right: 5rem;
  }
  .small-img-group   {
   display: flex;
   justify-content: space-between;
  }
  .small-img-col {
    flex-basis: 24%;
    cursor: pointer;
    display: flex;
    gap: 0.4rem;

   }
  .product-details .single-details {
    width: 50%;
    padding-top: 3rem;
   }
  .single-details h4 {
    padding: 4rem 0 2rem 0;
   }
  .single-details h2 {
     font-size: 2.6rem;
  }
  .single-details select {
    display: block;
    padding: 0.5rem 1rem;
    margin-bottom: 1rem;
  }
  .single-details input {
    max-width:4rem;
    height: 4rem;
    padding-left: 1rem;
    font-size: 1.6rem;
    margin-right: 1rem;
  }
  .single-details button {
  background-color: #088178;
  color: #fff;
  font-size: 1.2rem;
  padding: 1.2rem 3.2rem;
  }
  .single-details input {
   outline: none;
  }
  .single-details span {
   line-height: 2.4rem;
  font-size: 1.4rem;
}

/* Blog html */

.blog-header {
  background-image: url(img/banner/b19.jpg);
}

.blog {
  padding: 15rem 15rem 0 15rem;
}
.blog-box {
 display: flex;
 align-items: center;
 width: 100%; 
 position: relative;
 padding-bottom: 9rem;
}
.blog-img {
 width: 50%;
 margin-right: 4rem; 
}
.blog-img img{
  width: 100%;
  object-fit: cover;
  height: 30rem;
}
.blog-details{
  width: 50%;
  position: relative;
}
.blog-details h4 {
  text-transform: capitalize;

}
.blog-details a {
  font-size: 1.1rem;
  color: #000;
  font-weight: 700;
  text-decoration: none;
  position: relative;
}
.blog-details a::after {
  content: "";
  width: 5rem;
  height: 1px;
  background-color: #000;
  position: absolute;
  top: 4px;
  right:-6rem;
}
.blog-details a:hover {
  color: #088176;
}
.blog-details a:hover::after {
  background-color: #088176;
}
.blog-box h1 {
  position: absolute;
  top: -4rem;
  left: 0;
  font-size: 7rem;
  font-weight: 700;
  color: #c9cbce;
  z-index: -2;
}

/* About Page */
.about-header {
  background-image: url(img/about/banner.png);
}
.about-head {
  display: flex;
  align-items: center;
}
.about-img {
  width: 50%;
  height: auto;
}
.text-container {
  padding-left: 4rem;
}
.about-head p, abbr  {
  font-size: 1.4rem;
}
.about-head marquee {
  font-size: 1.4rem;
  margin-top: 1rem;
}
.about-app h1 {
  text-align: center;
}
.video {
  width: 70%;
  height: 100%;
  margin: 3rem auto 0 auto;
}
.video video {
  width: 100%;
  height: 100%;
  border-radius: 2rem;
}

/* Contact Page */
.contact-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.conatct-details {
  width: 40%;
}
.conatct-details span,
.form-details span {
  font-size: 1.4rem;
  text-transform: uppercase;
}
.conatct-details h2,
.form-details h2 {
  font-size: 2.6rem;
  line-height: 3.5rem;
  padding: 2.2rem 0;
}
.conatct-details h3 {
  font-size: 1.6rem;
  padding-bottom: 1.5rem;
}
.conatct-details li {
 list-style: none;
 display: flex;
 padding: 1rem 0; 
}
.conatct-details li i{
 font-size: 1.8rem;
 padding-right: 2.2rem;
}
.conatct-details li p{
 font-size: 1.4rem;
 margin: 0;
}
.map {
  width: 55%;
  height: 40rem;
}
.map iframe{
  width: 100%;
  height: 100%;
}
.form-details {
  display: flex;
  justify-content: space-between;
  margin: 3rem;
  padding: 6rem;
  border: 1px solid #e1e1e1;
}
.form-details form {
  display: flex;
  width: 65%;
  flex-direction: column;
  align-items: flex-start;
}
.form-details input,
.form-details textarea {
width: 100%;
padding: 1.2rem 1.5rem;
margin-bottom: 2rem;
outline: none;
border: 1px solid #e1e1e1;
}
.form-details button {
  background-color: #088178;
  color: #fff;
  padding: 1.2rem 2.8rem;
  border-radius: 0.4rem;
}
.people-box {
  padding-bottom: 2.6rem;
}
.people-box img{
  width: 6.5rem;
  height: 6.5rem;
  object-fit: cover;
  margin-right: 1.5rem;
}
.people-box p{
font-size: 1.2rem;
margin: 0;
line-height: 2rem;
}
.people-box p span{
font-size: 1.4rem;
display: block;
font-weight: 600;
color: #000;
}
.form-details .people-box {
  display: flex;
  padding-bottom: 2.4rem;
  align-items: flex-start;
}
/* Cart page */

.cart-details table {
 width: 100%;
 border-collapse: collapse;
 table-layout: fixed;
 white-space: nowrap;
}
.cart-details img {
 width:70px;
}
.cart-details table td:nth-child(1) {
 width: 100px;
 text-align: center;
}
.cart-details table td:nth-child(2) {
 width: 150px;
 text-align: center;
}
.cart-details table td:nth-child(3) {
 width: 250px;
 text-align: center;
}
.cart-details table td:nth-child(4), 
.cart-details table td:nth-child(5), 
.cart-details table td:nth-child(6){
 width: 150px;
 text-align: center;
}
.cart-details table td:nth-child(5) input {
width: 70px;
padding: 1rem 0.5rem 1rem 1.4rem;
}
.cart-details thead {
  border: 1px solid #e2e9e1;
  border-left: none;
  border-right: none;
}
.cart-details thead th{
font-size: 1.2rem;
font-weight: 700;
text-transform: uppercase;
padding: 1.8rem 0;
}
.cart-details tbody tr td{
padding: 1.5rem 0;
}
.cart-details tbody  td{
font-size: 1rem;
}
.cart-add {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.coupon {
width: 50%;
margin-bottom: 3rem;
}
.coupon h3,
.cart-subtotal h3 {
  padding-bottom: 1.5rem;
  font-size: 1.4rem;
}

.coupon input {
  width: 60%;
  padding: 1rem 2rem;
  margin-right: 1rem;
  outline: none;
  border: 1px solid #e3e9e1;
}
.coupon button {
  background-color: #088178;
  color: #fff;
  padding: 1rem 2.4rem;
}
.cart-subtotal {
  width: 50%;
  border: 1px solid #e3e9e1;
  margin-bottom: 3rem;
  padding: 3rem;
}
.cart-subtotal table {
  width: 100%;
  border-collapse:collapse;
  margin-bottom: 2rem;
}
.cart-subtotal table td{
  width: 50%;
  border:1px solid #e2e9e1;
  padding: 1rem;
  font-size: 1.2rem;
}
.cart-subtotal button{
 background-color: #088178;
 color: #fff;
 padding: 1rem 2rem;
}