@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root { 
  --color-primary:#e3e6f3 ;
  --color-secondary:#1a1a1a ;
  --color-tertiary:#088178;
  --color-fifth:##cce7d0;
  /* #cdebbccb
  #cdebbc */
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Spartan", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  width: 100%;
  font-size: 62.5%;
}
/* Global Styles */

h1 {
  font-size: 5rem;
  line-height: 6.4rem;
  color: #222;
}

h2 {
  font-size: 4.6rem;
  line-height: 5.4rem;
  color: #222;
}

h4 {
  font-size: 2rem;
  color: #222;
}

h6 {
  font-weight: 700;
  font-size: 1.2rem;
}

p {
  font-size: 1.6rem;
  color: #465b52;
  margin: 1.5rem 0 2rem 0;
}

#section-feature {
  padding: 4rem 4rem;
}

#section-m1 {
  margin: 4rem 0;
}
.normal-btn {
 font-size: 1.4rem;
 font-weight: 600;
 color: #000;
 background-color: #fff;
 cursor: pointer;
 border: none;
 outline: none;
 padding: 1.6rem 3.2rem;
 border-radius: 0.6rem;
 transition: 0.2s;
}
.white-btn {
 font-size: 1.4rem;
 font-weight: 600;
 color: #fff;
 background-color:transparent;
 cursor: pointer;
 border: 1px solid #fff;
 outline: none;
 padding: 1rem 1.8rem;
 transition: 0.2s;
}

/* ////////////// */
/* Section Header */
/* ///////////////// */

.header {
 /* display: flex;
 justify-content: space-between;
 align-items: center;  */
 /* padding: 2rem 8rem; */
 box-shadow: 0 0.5rem 1.5rem rgba(0,0,0,0.06);
 background-color: #e3e6f3;
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 8rem;
  width: 100%;
  z-index: 100;
  padding: 0px 6rem;
}
.nav.sticky {
  position: fixed;
  background-color: #e3e6f3;
}

.nav-bar {
  display: flex;
  align-items: center;
  justify-content: center;

}
.nav-bar li {
  list-style: none;
  padding: 0 2rem;
  position: relative;
}

.nav-bar li a {
  text-decoration: none;
  font-size: 1.6rem;
  font-weight: 600;
  color: #1a1a1a;
  transition: 0.3s ease-in;
}
.nav-bar li a:hover, 
.nav-bar li a.active{
 color: #088178;
}

.nav-bar li a:hover::after,
.nav-bar li a.active::after{
content: "";
width: 30%;
height: 2px;
position: absolute;
background-color: #088178;
bottom: -4px;
left: 2rem;
}
.nav-logo {
height: 4rem;
}
/* Section Hero */
.hero {
  background-image: url(img/hero4.png);
  background-position: top 25% right 0%;
  background-size: cover;
  width: 100%;
  height: 90vh;
  padding: 0 8rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.hero h4 {
  margin-bottom: 1.5rem;
}
.hero h1 {
  color: #088178;
}
 
.btn-hero { 
 background-image: url(img/button.png);
 background-size: cover;
 padding: 1.4rem 8rem 1.4rem 6.5rem;
 border: 0;
 cursor: pointer;
 background-color: transparent; 
 background-repeat: no-repeat;
 font-size: 1.5rem;
 font-weight: 700;
}
.btn-hero:hover {
 color: #088176;
}

/* Section Feature */
.features {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
#section-feature .feature-box {
 max-width:17rem;
 padding: 2.5rem 1.5rem;
 text-align: center;
 box-shadow: 2rem 2rem 3.4rem rgba(0,0,0,0.03);
 border: 1px solid #cce7d0;
 border-radius: 0.4rem;
 margin: 1.5rem 0;
}

#section-feature .feature-box:hover {
 box-shadow: 1rem 1rem 5.4rem 
 rgba(70, 62, 222, 0.01);
}
#section-feature .feature-box img {
  width: 100%;
  margin-bottom: 1rem;
}
#section-feature .feature-btn{
  display: inline-block;
  padding: 0.9rem 0.8rem 0.6rem 0.8rem;
  line-height: 1;
  border-radius: 0.5rem;
  color: #088178;
  background-color: #fddde4;
  cursor: pointer;
};
#section-feature .feature-btn:hover{
  background-color:#cb8494a4;
}

#section-feature .feature-box:nth-child(2) .feature-btn {
  background-color: #d1e8f2;
}
#section-feature .feature-box:nth-child(3) .feature-btn {
  background-color: #cdebbc;
}
#section-feature .feature-box:nth-child(4) .feature-btn {
  background-color: #cdd4f8;
}
#section-feature .feature-box:nth-child(5) .feature-btn {
  background-color: #f6dbf6;
}
#section-feature .feature-box:nth-child(6) .feature-btn {
  background-color: #fff2e5;
}
/* Hover  */
#section-feature .feature-box:nth-child(6) .feature-btn:hover {
  background-color: #e2bb94bc;
    color: #1a1a1a;
}
#section-feature .feature-box:nth-child(5) .feature-btn:hover {
  background-color: #ed81edc1;
  color: #1a1a1a;
}
#section-feature .feature-box:nth-child(4) .feature-btn:hover {
  background-color: #a6b3f0;
    color: #1a1a1a;
}
#section-feature .feature-box:nth-child(3) .feature-btn:hover {
  background-color: #a0ee73b0;
  color: #1a1a1a;
} 
#section-feature .feature-box:nth-child(2) .feature-btn:hover{
  background-color: #81cbebd7;
  color: #1a1a1a;
}
/* ///////////////////////// */
   /* Products Section */
/* //////////////////////////// */

.products-primary {
  text-align: center;
}
.products-primary .pro-conatiner {
  display: flex;
  justify-content: space-between;
  padding-top: 2rem;
  flex-wrap: wrap;
}

.pro {
  width: 23%;
  min-width: 20rem;
  border: 1px solid #cce7d0;
  padding: 1rem 1.2rem;
  border-radius: 2rem;
  cursor: pointer;
  box-shadow: 2rem 2rem 3rem rgba(0,0,0,0.02);
  position: relative;
  transition: all 0.2s ease;
  margin: 1.5rem 0;

}
.pro img {
  width: 100%;
  border-radius: 2rem;
}
.pro:hover {
  box-shadow: 2rem 2rem 3rem rgba(0,0,0,0.07);
}

.product-description{
  text-align: start;
  padding: 1rem 0;
}

.product-description span {
  font-size: 1.2rem;
  color: #606063;
}
.product-description h5 {
  font-size: 1.4rem;
  color: #1a1a1a;
  padding-top: 0.7rem;
}
.pro .star i {
  font-size: 1.2rem;
  color: rgb(243, 184, 25);
} 
.price-heading {
  font-size: 1.4rem;
  font-weight: 700;
  padding-top: 0.7rem;
  color: #088178;
}
.cart {
  width: 4rem;
  height: 4rem;
  border-radius: 5rem;
  line-height: 4rem;
  background-color: #e8f6ea;
  color: #088178;
  font-weight: 500;
  position: absolute;
  right: 1rem;
  bottom: 2rem;
  border: 1px solid #cce7d0;
  font-size: 1.5rem;
}
/* //////////////////// */
/* Banner */
/* //////////////////// */

.banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(img/banner/b2.jpg);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 40vh;
}
.sub-heading {
  color: #fff;
  font-size: 1.6rem;
}
.heading-secondry {
  font-size: 3rem;
  color: #fff;
  padding: 1rem 0;
}
.heading-secondry span {
  color: #ef3636;
}
.banner .normal-btn:hover {
  background-color: #088178;
  color: #fff;
}

/* small banner */
 .sm-banner{
 display: flex; 
 justify-content: space-between;
 flex-wrap: wrap;
}
 .banner-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-image: url(img/banner/b17.jpg);
  background-size: cover;
  background-position: center;
  min-width: 54rem;
  height: 50vh;
  padding: 3rem;
}
.banner-box2 {
  background-image: url(img/banner/b10.jpg);
}

.banner-box h4 {
  color: #fff;
  font-size: 2rem;
  font-weight: 300;
}
.banner-box h2 {
  color: #fff;
  font-size: 2.8rem;
  font-weight: 800;
}
.banner-box span {
  color: #fff;
  font-size: 1.4rem;
  font-weight: 500;
  padding-bottom: 1.5rem;
}
.banner-box:hover button {
  background-color: #088178;
  border: 1px solid #088178;
}
/* Banner Third */
.banner-third {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 4rem;
  /* margin-bottom: 1rem; */
}
.banner-third .banner-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-image: url(img/banner/b7.jpg);
  background-size: cover;
  background-position: center;
  min-width: 30%;
  height: 30vh;
  padding: 2rem;
  margin-bottom: 2rem;
} 
.banner-third .banner-box__2 {
  background-image: url(img/banner/b4.jpg);
}
.banner-third .banner-box__3 {
  background-image: url(img/banner/b18.jpg);
}
.banner-third .banner-box h2 {
  color: #fff;
  font-size: 2.2rem;
  font-weight: 900;
  text-transform: uppercase;
}
.banner-third .banner-box h3 {
  color: #ef544e;
  font-size: 1.4rem;
  font-weight: 800;
  text-transform: uppercase;
}
/* //////////////// */
/* News letter section */
/* ///////////////// */

.news-letter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  background-image: url(img/banner/b14.png);
  background-repeat: no-repeat;
  background-position: 20% 30%;
  background-color: #041e42;
  margin: 4rem 0;
}

.news-heading {
  font-size: 2.2rem;
  color: #fff;
  font-weight: 700;
}
.news-description {
  font-size: 1.4rem;
  color: #818ea0;
  font-weight: 600;
}
.news-description span{
  color: #ffbd27;
  cursor: pointer;
}
.form {
  display: flex;
  justify-content: center;
}
.form input {
  height: 5rem;
  width: 100%;
  padding: 0 1.25em;
  font-size: 1.4rem;
  border: 1px solid transparent;
  border-radius: 0.4rem;
  outline: none;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.form .normal-btn {
  background-color: #088178;
  color: #fff;
  white-space: nowrap;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

/* ////////////// */
/* Footer Section */
/* ///////////// */

footer {
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap: 1.6rem;
}
footer .logo {
  margin-bottom: 3rem;
}

footer .footer-columns {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 2rem;
}
footer .footer-heading {
  font-size: 1.4rem;
  padding-bottom: 2rem;
}
footer .footer-description {
  font-size: 1.3rem;
  margin: 0 0 0.8rem 0;
}
footer a {
  font-size: 1rem;
  margin-bottom: 1rem;
  color: #222;
  text-decoration: none;
  line-height: 1.5;
}
.icon-list {
  margin-top: 2rem;
}
footer .icon-list {
  color: #465b52;
  padding-right: 0.4rem;
  cursor: pointer;
}
.icon-list i {
  font-size: 1.6rem;
  padding: 0 0.3rem;
}
.row img {
 border: 1px solid #088178;
 border-radius: 0.6rem;
}
.install {
  margin: 1rem 0 1.5rem 0;
}
